<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body OnLoad="document.myform.name.focus();">
      <% include ./partials/navbar.ejs %>

     <!-- <% if(messages.message) { %>
      <section class="d-flex justify-content-center">

      <section class="alert alert-warning card user-message col-12 col-sm-9 col-md-7 col-lg-5 animated fadeInDown">
          <button id="close-message" type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          <a href="/list"><span class="far fa-window-close ml-2 mt-2 dark-blue-text"></span></a>
          <section class="card-body text-center"><%= messages.message %></section>
        </section>

      </section>
   <% } %> -->

      <% if(messages.message) { %>
        <section class="card-container d-flex justify-content-center animated slideInDown">

        <section class="alert alert-warning card user-message">
            <ul>
              <% messages.message.map(message => { %>
                <section id="user-message" class="d-flex justify-content-center align-items-center">
                <button class="close-message" type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <li>
                  <section class="ml-1"><%= message %></section>
                </li>
              </section>
              <% }) %>
          </ul>
          </section>

        </section>
    <% } %>
      <main class="container">

        <section class="text-center mt-3 dark-blue-text">
            <h2>Items</h2>
            <form class="form-inline d-flex justify-content-center" action="/list/newItem" method="POST" name="item-form" >
                <div class="form-group mb-3 mr-1 mt-2">
                  <label for="name" class="sr-only">Add New Item</label>
                  <input type="text" class="form-control" id="add-new-item" placeholder="...add item" name="name">
                </div>
                <button type="submit" class="btn btn-outline-primary btn-sm mb-2 dark-blue-text">add</button>
              </form>
        </section>
        <section id="item-list" class="dark-blue-text d-flex justify-content-center">
          <section>
          <section class="d-flex justify-content-center">
          <span class="text-center mr-5 pr-5"> Total: <%= itemList.length %></span>
          <% let purchasedItems = itemList.filter(item => item.purchased) %>
          <span class="text-center mr-5 pr-2"> Purchased: <%= purchasedItems.length %></span>
          <% let unPurchasedItems = itemList.filter(item => !item.purchased) %>
          <span class="text-center mr-4 pr-3 pb-2"> Unpurchased: <%= unPurchasedItems.length %></span>
         </section>

          <ul class="pb-3">
            <% itemList.map(item => { %>
              <li class="my-3 ml-5 d-flex flex-nowrap pr-4">
                  <form action="/list/<%= item._id %>/delete" method="POST" class="d-inline-block" id="delete">
                    <button type="submit" class="dark-blue-text" id="delete-item-button"><span class="fas fa-trash-alt text-danger"></span></button>
                  </form>
                <form action="/list/<%= item._id %>/purchased" method="POST" class="d-inline-block">
                  <% if(item.purchased === false) { %>
                    <section class="d-flex flex-nowrap">
                    <button type="submit" class="btn btn-outline-danger btn-sm ml-2 dark-blue-text">Unpurchased</button>
                    <span class="midnight-blue item-name ml-2 text-nowrap"><%= item.name %></span>
                   </section>
                 <% } else { %>
                  <section class="d-flex flex-nowrap">
                  <button type="submit" class="btn btn-outline-success btn-sm ml-2 dark-blue-text">purchased</button>
                  <span class="text-secondary item-name ml-2 text-nowrap" id="item-purchased"><%= item.name %></span> 
                </section>
                 <% } %>
                </form>
              </li>
            <% }) %>
          </ul>
        </section>
        </section>

      </section>
      <!-- row -->

      </main>


      <% include ./partials/baseScripts.ejs %>
    </body>
</html>